form .convertForm{
    margin-top: 25px;
    margin-bottom: 15px;
}

.from, .to{
    color: #32a0c2;
    height: 30px;
    font-size: 20px;
    font: bold;
    text-shadow: 2px 2px 3px #000000;
    margin-left: -34px;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #353637;
}
.to{
    margin-left: -10px;
    padding-right: 5px;
    margin-right: 20px;
}

#fromAmount, #toAmount{
    height: 28px;
    font-size: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    text-align: right;
    margin-left: -4px;
    margin-top: 10px;
    font-weight: 530;
}
#toAmount{
    margin-left: -25px;
    height: 22px;
}

input#fromAmount{
    opacity: 0.8;
}

input#toAmount{
    padding: 4px 1px;
    color: white; 
    background-color: rgba(255,255,255, 0.2);
    text-shadow: 2px 2px 4px #000000;
}


input:focus {
    color: goldenrod;
}

::placeholder{
    color:white;
}

select{
    /* color: #000000; */
    /* text-shadow: 1px 1px grey; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}

#selectFrom, #selectTo{
    padding: 3px;
    /* font: bolder; */
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(253, 250, 250, 0.945);
    margin-top: 10px;
}

.convertbutton{
    margin-top: 5%;
    background-color: #353637;
    color: #32a0c2;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 20px;
    margin-bottom: 10px
}
.convertbutton:hover{
    color: #32a0c2;
    background-color: green;
    font-weight: bolder;
}
.swapBtn{
    background: none;
    margin-top: 10px;
    padding: 2px 4px;
    border-radius: 12px;
    margin-bottom: 10px;
}
.swapBtn:hover{
    background: green;
}