table, th{
    margin-top: 50px;
    margin-left: 33%;
    /* text-align: center; */
    border: 3px solid #32a0c2;
    border-collapse: collapse;
}

th{
    background-color: #353637;
    color: #32a0c2;
    height: 50px;
    font-size: 30px

}
/* table .container{
    float: 
} */

td{
    padding: 5px;
    /* border-bottom: 10px; */
}
td #fromSymbol #toSymbol{
    cursor: not-allowed; 
    /* opacity: 0.2;  */
    color: #32a0c2
}

/* td .select{
    width: 100px;
} */

/* div .tabContainer{
    text-align: center;
} */

.convertbutton{
    margin-top: 10px;
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 12px;
}
.convertbutton:hover{
    color: #32a0c2;
    background-color: #353637;
}