table, th{
    margin-top: 50px;
    margin-left: 30%;
    border: 3px solid #32a0c2;
    border-collapse: collapse;
}

th{
    background-color: #353637;
    color: #32a0c2;
    height: 50px;
    font-size: 30px;
}

td{
    padding: 5px;
}

.convertbutton{
    margin-top: 10px;
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 12px;
}
.convertbutton:hover{
    color: #32a0c2;
    background-color: #353637;
}